body {
 margin: 0;
 font-family: Arial, sans-serif;
}
.navbar {
 display: flex;
 justify-content: space-between;
 padding: 15px 30px;
}
.card, 
.dashboard {
 margin: 20px; 
 padding: 20px;
 border-radius: 10px; 
}
.light {
 background-color: white;
 color: black;
}
.dark {
 background-color: #222;
 color: white;
}
button {
 padding: 10px;
 cursor: pointer;
}
